@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&family=Montserrat&display=swap');

h1{
font-family:'Montserrat',sans-serif;
}

p{
font-family:'Roboto',sans-serif;
line-height:1.7;
letter-spacing:1px;
}

.text-shadow{
font-size:30px;
text-shadow:2px 2px 5px gray;
}

.upper{
text-transform:uppercase;
}

.center{
text-align:center;
}